.header-dark {
    background:url(https://sport-koda.org/sites/default/files/styles/image_100/public/kind-sport/biatlon2.jpg?itok=eTFzrl2b);
    background-size:cover;
    padding-bottom:80px;
}

@media (min-width:768px) {
    .header-dark {
        padding-bottom:120px;
    }
}

.header-dark .navbar {
    background:transparent;
    padding-top:0;
    padding-bottom:0;
    color: #17a229;
    border-radius:0;
    box-shadow:none;
    border:none;
}
.colo-b{
    color: #d2b3cc;
}
@media (min-width:768px) {
    .header-dark .navbar {
        padding-top:.75rem;
        padding-bottom:.75rem;
    }
}

.header-dark .navbar .navbar-brand {
    font-weight:bold;
    color:inherit;
}

.header-dark .navbar .navbar-brand:hover {
    color: #832626;
}

.header-dark .navbar .navbar-collapse span {
    margin-top:5px;
}

.header-dark .navbar .navbar-collapse span .login {
    color: #cacee3;
    margin-right:.3rem;
    text-decoration:none;
    font-style: italic;

}

.header-dark .navbar .navbar-collapse span .login:hover {
    color: #5f1313;
}

.header-dark .navbar .navbar-toggler {
    border-color: #cacde5;
}

.header-dark .navbar .navbar-toggler:hover, .header-dark .navbar-toggler:focus {
    background:none;
}

.header-dark .navbar .navbar-toggler {
    color: #a1a7d2;
}

.header-dark .navbar .navbar-collapse, .header-dark .navbar .form-inline {
    border-color:#636363;
}

@media (min-width: 992px) {
    .header-dark .navbar.navbar .navbar-nav .nav-link {
        padding-left:1.2rem;
        padding-right:1.2rem;
    }
}

.header-dark .navbar.navbar-dark .navbar-nav .nav-link {
    color: #123288;
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
}

.header-dark .navbar.navbar-dark .navbar-nav .nav-link:focus, .header-dark .navbar.navbar-dark .navbar-nav .nav-link:hover {
    color: #bad724 !important;
    background-color:transparent;
}

.header-dark .navbar .navbar-nav > li > .dropdown-menu {
    margin-top:-5px;
    box-shadow:0 4px 8px rgba(0,0,0,.1);
    background-color: #ba0808;
    border-radius:2px;
}
.nav{
    color: cornflowerblue;
}
.header-dark .navbar .dropdown-menu .dropdown-item:focus, .header-dark .navbar .dropdown-menu .dropdown-item {
    line-height:2;
    font-size:14px;
    color:#37434d;
}

.header-dark .navbar .dropdown-menu .dropdown-item:focus, .header-dark .navbar .dropdown-menu .drodown-item:hover {
    background: #2094cf;
}

.header-dark .navbar .action-button, .header-dark .navbar .action-button:active {
    background:#208f8f;
    border-radius:20px;
    font-size:inherit;
    color: #ffffff;
    box-shadow:none;
    border:none;
    text-shadow:none;
    padding:.5rem .8rem;
    transition:background-color 0.25s;
}
.text-t{
    background-color: cornflowerblue;
    color: #35093c;
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    font-family: Montserrat;
}
.header-dark .navbar .action-button:hover {
    background:#269d9d;
}

.header-dark .navbar .form-inline label {
    color:#ccc;
}

.header-dark .navbar .form-inline .search-field {
    display:inline-block;
    width:80%;
    background:none;
    border:none;
    border-bottom:1px solid transparent;
    border-radius:0;
    color:#ccc;
    box-shadow:none;
    color:inherit;
    transition:border-bottom-color 0.3s;
}

.header-dark .navbar .form-inline .search-field:focus {
    border-bottom:1px solid #ccc;
}

.header-dark .hero {
    margin-top:60px;
}

@media (min-width:768px) {
    .header-dark .hero {
        margin-top:20px;
    }
}

.header-dark .hero h1 {
    color: #670707;
    font-family:'Bitter', serif;
    font-size:40px;
    margin-top:20px;
    margin-bottom:80px;
}

@media (min-width:768px) {
    .header-dark .hero h1 {
        margin-bottom:50px;
        line-height:1.5;
    }
}

.header-dark .hero .embed-responsive iframe {
    background:url(https://gdb.rferl.org/906D0884-81F3-4ECC-995F-96D09E4B283F_w1023_r1_s.jpg);
}


